<!-- start loader -->
<div id="pageloader-overlay" class="visible incoming"><div class="loader-wrapper-outer"><div class="loader-wrapper-inner" ><div class="loader"></div></div></div></div>
<!-- end loader -->

<!-- Start wrapper-->
<div id="wrapper">

<div class="loader-wrapper"><div class="lds-ring"><div></div><div></div><div></div><div></div></div></div>
 <div class="card card-authentication1 mx-auto my-5">
     <div class="card-body">
      <div class="card-content p-2">
          <div class="text-center">
              <img src="assets/images/logo-icon.png" alt="logo icon">
          </div>
       <div class="card-title text-uppercase text-center py-3">Sign In</div>
         <!-- Username -->
         <form [formGroup]="loginUserForm">
           <div class="form-group">
           <label for="exampleInputUsername" class="sr-only">Username</label>
            <div class="position-relative has-icon-right">
               <input type="text" id="exampleInputUsername" class="form-control input-shadow" 
               formControlName="username"  placeholder="Enter Username" [ngClass]="{'is-invalid':loginUserForm.controls['username'].errors && loginUserForm.controls['username'].touched}">
               <div *ngIf="submitted && loginUserForm.controls['username'].errors" class="text-danger">
                Username is Required
              </div>
               <div class="form-control-position">
                   <i class="icon-user"></i>
               </div>
            </div>
           </div>

          <!-- Email Id -->
           <div class="form-group">
            <label for="exampleInputEmailId" class="sr-only">Email ID</label>
              <div class="position-relative has-icon-right">
                 <input type="text" id="exampleInputEmailId" class="form-control input-shadow"
                 formControlName="emailId" placeholder="Enter Your Email ID" [ngClass]="{'is-invalid':loginUserForm.controls['emailId'].errors && loginUserForm.controls['emailId'].touched}">
                  <div *ngIf="submitted && loginUserForm.controls['emailId'].errors" class="text-danger">
                    EmailId is Required
                  </div>
                 <div class="form-control-position">
                   <i class="icon-envelope-open"></i>
                 </div>
              </div>
           </div>
           
           <!-- Password -->
           <div class="form-group">
           <label for="exampleInputPassword" class="sr-only">Password</label>
            <div class="position-relative has-icon-right">
               <input type="password" id="exampleInputPassword" class="form-control input-shadow" 
               formControlName="password"  placeholder="Enter Password" [ngClass]="{'is-invalid':loginUserForm.controls['password'].errors && loginUserForm.controls['password'].touched}">
               <!-- <div *ngIf="submitted && loginForm.controls['password'].errors" class="text-danger">
                Password is Required
              </div> -->
              <div *ngIf="submitted && loginUserForm.controls['password'].errors" class="text-danger">
                <div *ngIf="submitted && loginUserForm.controls['password'].errors.required">Password is required</div>
                <!-- <div *ngIf="submitted && loginForm.controls['password'].errors.minlength">Password must be at least 6 characters</div> -->
               <div *ngIf="submitted && loginUserForm.controls['password'].errors.pattern"> 
                Password must contain more than 8 characters, 1 upper case letter, and 1 special character </div>
              </div>
               <div class="form-control-position">
                   <i class="icon-lock"></i>
               </div>
            </div>
           </div>
           
         <div class="form-row">
          <div class="form-group col-6">
            <div class="icheck-material-white">
             <input type="checkbox" id="user-checkbox" checked="" formControlName="acceptTerms">
             <label for="user-checkbox">Remember me</label>
           </div>
          </div>
          <!-- <div class="form-group col-6 text-right">
           <a href="reset-password.html">Reset Password</a>
          </div> -->
         </div>
          <button type="button" class="btn btn-light btn-block" (click)="loginUser()">Sign In</button>
          <a href="/userregister1"> <div class="text-center mt-3">Sign In With</div></a>
<!--            
          <div class="form-row mt-4">
           <div class="form-group mb-0 col-6">
            <button type="button" class="btn btn-light btn-block"><i class="fa fa-facebook-square"></i> Facebook</button>
          </div>
          <div class="form-group mb-0 col-6 text-right">
           <button type="button" class="btn btn-light btn-block"><i class="fa fa-twitter-square"></i> Twitter</button>
          </div>
         </div> -->