
  <section class="vh-100">
   <div class="container py-5 h-100">
    
      <div class="row d-flex align-items-center justify-content-center h-100">
          <h2>Online Exam Portal</h2>
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Phone image" style="width:100%">
        </div>
        
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <div class="container mt-5">

                <div class="card">
  
                  <a href="/login"><div class="card-body text-center">Admin Login</div></a>
  
                </div>
  
                <div class="card">
  
                  <a href="/loginuser1"><div class="card-body text-center">Candidate Login</div></a>
  
                </div>
  
              </div>
        <!-- <div class="d-grid col-6 mx-auto">
          <a href="/adminlogin"><button type="button" class="btn btn-outline-white btn-lg">Admin Login</button></a><br><br>
          <a href="/login"><button type="button" class="btn btn-outline-white btn-lg">Candidate Login</button></a>
        </div> -->
        </div>
      </div>
    </div>
  </section>


  
  
            
<!-- <form>
            
             <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="tab-login" data-mdb-toggle="pill" role="tab"
                    aria-controls="pills-login" aria-selected="true">Login</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="tab-register" data-mdb-toggle="pill" role="tab"
                    aria-controls="pills-register" aria-selected="false">Register</a>
                </li>
              </ul>
              -->
               <!-- <div class="d-flex justify-content-center">

                <div class="btn-group col-sm-8" (click)="onButtonGroupClick($event)">
                  <button class="btn btn-sm btn-outline-primary button1 active"
                    type="button" (click)="toggleTag()">Login</button>
                  <button class="btn btn-outline-primary button2"
                  type="button"(click)="toggleTag2()">Register</button>

                </div>
  
              </div> -->
              <!-- Pills navs -->
              
              <!-- Pills content -->
               <!-- <div class="tab-content">
                <div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="tab-login">
                  <h2 class="header pb-3">Login</h2>
                  <form> -->
                    <!-- Email input -->
                     <!-- <div class="form-outline mb-4">
                      <input type="email" id="loginName" class="form-control" />
                      <label class="form-label" for="loginName">Email or username</label>
                    </div>  -->
              
                    <!-- Password input -->
                     <!-- <div class="form-outline mb-4">
                      <input type="password" id="loginPassword" class="form-control" />
                      <label class="form-label" for="loginPassword">Password</label>
                    </div> -->
              
                    <!-- 2 column grid layout -->
                     <!-- <div class="row mb-4">
                      <div class="col-md-6 d-flex justify-content-center">
                        Checkbox
                          <div class="form-check mb-3 mb-md-0">
                          <input class="form-check-input" type="checkbox" value="" id="loginCheck" checked />
                          <label class="form-check-label" for="loginCheck"> Remember me </label>
                         </div>
                      </div>
  
                    </div> -->
              
                    <!-- Submit button -->
                     <!-- <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button> -->
              
                    <!-- Register buttons -->
                     <!-- <div class="text-center">
                      <p>Not a member? <a href="#!" data-bs-toggle="modal" data-bs-target="#myModal">Register</a></p> -->
                      <!-- <div class="container mt-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
                          Register
                        </button>
                      </div> -->
                    <!-- </div>
            
                  </form> -->
                <!-- </div>
                
              </div> -->
              <!-- Pills content -->
           <!-- </form> -->