/* You can add global styles to this file, and also import other style files */

/* html, body { height:100% }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; */
/* background-image: url("../src/assets/Images/aeroplane.jpg");
background-repeat: repeat;
background-size: cover; */
/* 



    /* html, body, app-root {
        height: 100%;
        margin: 0;
        overflow: hidden;
        }


        body {           
            height:100%;
             overflow: scroll; 
            }
  */





/* 
  html,body {
    background-image:url("../src/assets/images/bg.png");
    background-position: center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
    overflow: hidden; 
    }
    
    body {           
    height:100%;
     overflow: scroll; 
    }   */


    